.elementor-17 .elementor-element.elementor-element-d334d38 .hero__area-3 .sec-title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .hero__area-2 .sec-title-3 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .hero__title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .service__hero-2 .service__hero-right-2 .title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .hero__area-6 .hero__title-6 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .hero__text-3 p,
.elementor-17 .elementor-element.elementor-element-d334d38 .hero__text-2 p,
.elementor-17 .elementor-element.elementor-element-d334d38 .hero__area .hero__sub-title,
.elementor-17 .elementor-element.elementor-element-d334d38 .service__hero-right-2 p,
.elementor-17 .elementor-element.elementor-element-d334d38 .hero__area-6 .hero__content-6 p {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .axtratheme-btn {
    color: #999999 !important;
}

.elementor-17 .elementor-element.elementor-element-d334d38 .axtratheme-btn:hover {
    color: #121212 !important;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .feature__text p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .service__area-2 .sec-text p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .feature__content-right p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .feature__item p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .service__item-2 p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .service__item-2 ul li {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-bef9b96 .feature__content-item p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-71a9096 .roll__slide h2 {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-2 .sec-title-3 {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__title-3 {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__text {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-7 .sec-title {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .sec-title-6 {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-6 .sec-title {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .sec-title-2 {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-2 .sec-title-wrapper .sec-text {
    color: #555555;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-7 p {
    color: #555555;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__sec-title p {
    color: #555555;
}

.elementor-17 .elementor-element.elementor-element-95f339f .portfolio__area-6 .sec-title-wrapper p {
    color: #555555;
}

.elementor-17 .elementor-element.elementor-element-95f339f .blog__text p {
    color: #555555;
}

.elementor-17 .elementor-element.elementor-element-f4f6807 .about__area-2 .sec-text p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-f4f6807 .btn-item {
    color: #999999 !important;
}

.elementor-17 .elementor-element.elementor-element-f4f6807 .btn-item:hover {
    color: #121212 !important;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .feature__text p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .service__area-2 .sec-text p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .feature__content-right p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .btn-item {
    color: #121212 !important;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .feature__item p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .service__item-2 p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .service__item-2 ul li {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-ba9253f .feature__content-item p {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-71cb1a0 .award__right>p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .sec-sub-title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .sec-subtile-6 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .sec-title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .sec-title-6 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .sec-title-2 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__area-3 .sec-title-wrapper p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__area-2 .sec-text p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__area-4 .sec-title-wrapper p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__text p {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .btn-item {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .btn-started {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .btn-item:hover {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .btn-started:hover {
    color: #121212;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta a {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-2 a {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-2 {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-4 a {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-4 span {
    color: #999999;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta a:hover {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta:hover {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-2:hover {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-2 a:hover {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-4:hover a {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__meta-4:hover span {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__title-3 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__title-2 {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__title {
    color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-33f18ed .blog__title-4 {
    color: #FFFFFF;
}